MYSQL_ROOT_PASSWORD=Passw0rd1
MYSQL_DATABASE=pat.com
MYSQL_HOST=localhost
MYSQL_USER=admin
MYSQL_PASSWORD=Passw0rd1

AUTH_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
USER_PASSWORD_POSTPEND=norainbowtables

EMAIL_HOST=your.httphost.com
EMAIL_PORT=465
EMAIL_USER=tolley@playagainstthe.com
EMAIL_PASSWORD=xxxxxxxxxxx
EMAIL_FROM=tolley@playagainstthe.com

WEBSITE_DOMAIN=localhost:8080

WEBSITE_WS_FULL_URL=ws://playagainstthe.com

HTTP_PORT=8080

WSS_PORT=8081