<span id="about">
    <p class="head">
        Dive into turn based strategy games where you can team 
        up with the mighty hive mind of the internet, or take it
        on solo! Create a <a href="/signup">free account</a> and 
        start playing!
    </p>

    <h2>Two ways to play!</h2>

    <h3>1: As an individual</h3>

    <p class="indent">
        <b>After loggin in, click the "Challenge the .com" link</b> on the left to get started.
        Choose your game type, and your game will begin immediately.  It'll be your turn  first.
        After making your opening move, your game will enter the queue until a suitable
        opponent is found. This will happen each time it's your opponent's turn.
        This continues until the game is over.
    </p>

    <p class="indent">
        <b>No need to worry about time, there are no time limits.</b>
        You can view your active games in the left navigation beneath the "Challenge the .com" link. 
        Finished games will be shown in the "Finished Games" section.
    </p>

    <h3>2: A member of the collective</h3>

    <p class="indent">
        The second way to play is by <b>clicking the "Join the .com" link in the left nav after logging in.</b>
        From there, choose a game queue.  Each one corresponds to a specific game type.  Once you've joined 
        a queue the server will assign you a game of that type as soon as one becomes 
        available.  Disconnect at any time!
    </p>

    <p class="indent">
        <b>Note:</b> These are not your personal games, you're stepping in as part of
        the collective to make a move.  You won't get to move in one of your own games.
    </p>
</span>