<link rel="stylesheet" type="text/css" href="/css/mermaid.min.css">
<script type="text/javascript" src="js/gridjs.umd.js"></script>
<script type="text/javascript" src="/js/history.js"></script>

<span id="previous_games"></span>