<span id="home">
    <h3>
        Welcome to PlayAgainstThe.com!
    </h3>
    <p>
        This platform enables users to engage in games either as part of the distributed intelligence of the internet or in opposition to it!
    </p>

    <ul>
        <li>Challenge anonymous opponents to classics like Tic Tac Toe and Checkers.</li>
        <li>No timers, no pressure. Games are fully asynchronous!</li>
        <li>Start as many of your own games as you'd like!</li>
        <li>When there are lots of players waiting in the queue, experience 
            real-time games against different opponents each move!
        </li>
    </ul>

    <p>
        PlayAgainstThe.com is built for flexible, low-friction gameplay with
        minimal barriers to entry. Just start a game, it's your turn!
    </p>
</span>