<script type="text/javascript" src="/js/login.js"></script>
<div>
    <h3>Login to Play Against the .com</h3>
    <br />

    <form id="login-form" method="post" action="/login">
        <label>Username:
            <input type="text" id="username" name="username" tabindex="1" />
        </label>

        <label>Password:   
            <input type="password" id="password" name="password" tabindex="2" />
        </label>

        <input class="submit_signup" type="submit" value="Submit" tabindex="3" />
        <br />
        
        <span class="form_error"></span>
    </form>
</div>