<!DOCTYPE html>
<html>
    <head>
        <title>Login worked!</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css" media="screen, projection">
    </head>

    <body>
        <div>
            <h3>You are logged in, get to work!</h3>
        </div>
    </body>
</html>