<span id="signup_success">
    <p>
        Good job, you signed up! Before you can log in, you'll have to verify
        your email address.  Check your email, the one that you used to signup
        for your account.  You should have an email from us.  In that email there
        will be a link.  Click that link and you be able to log in and start
        competing against the collective internet (.com).
    </p>
</span>