<span id="signup_error">
    <p>
        There was an error during signup!  Please try again in a few minutes. 
    </p>
    <p>
        Send us a message and let me know of this problem: 
        <a href="/contact">Contact Us.</a>
    </p>
</span>