<div>
    <h3>Sign up for Play Against the .com</h3>
    <br />

    <form id="signup-form" method="post" action="">
        <label>Username:
            <input type="text" id="username" name="username" />
        </label>

        <label>Email:
            <input type="text" id="email" name="email" />
        </label>
        
        <label>Password:
            <input type="password" id="password" name="password" />
        </label>
        
        <label>Repeat Password:
            <input type="password" id="repeat_password" name="repeat_password" />
        </label>
        
        <input class="submit_signup" id="signup_submit"
                type="submit" value="Submit" />
    </form>
</div>
