<div id="verify_email">
    You must verify your email address before you can play.  
    If you can not find the email containing the link. 

    <br />
    <a href="/resendverificationemail">Click here to resend it!</a>
</div>