<div id="verified">
    <p>
        Thanks much for verifying your account, this helps cut down
        on spam and makes for a better community for all.
    </p>

    <p>
        Go ahead and <a href="/login">log in</a> and start your first game!
    </p>
</div>