<div id="welcome">
    <p>
        Thanks for creating your account!  Before you can start playing, you'll
        need to verify your email.  Please check your email and you should 
        see an email from us with a verification.  Clink that link and you'll
        be able to log in and start playing!
    </p>
</div>